<h1 class="title"> Blog </h1>

<section class="section">
  <div class="container"> 
    <% @posts.each do |post| %>
      <div class="card"> 
	    <div class="card-content">
		  <div classd="media">
		    <div class="media-conetent">
			  <p class="title is-4"> <%= post.title %> </p>
			</div>
		  </div>
		</div>
	  </div>
	<% end %>
  </div>
</section>